<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcfarm.android.find">

    <application>
        <activity
            android:name=".FindSecondActivity"
            android:label="@string/title_activity_find_second"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>